body {
    background-color: #cacaca; 
    
}

* {
    margin: 0;
    padding: 0;
}

.Hover{
    background-color: #000000 ;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.Footer{
    position:relative;
}
.HomeBorder{
    width:18%;
    height:100%;
    max-width:180px;
    max-height:50px;
    
}

.HomeWrapper{
    padding-top:10%;
    width:100%;
    height:40%;
    position:relative;bottom:0%;left:0%;
    text-decoration: none;

}

.Home{
    width:100%
    height:100%
    text-align:left;
    padding-left:5%;
    font-family:arial; 
    color:white;
    background-image: url(../../img/home.png);
    background-size: 20% 60%;
    background-position:90% 50%;
    background-repeat: no-repeat;
    font-size: 40px;
    background-color:#6817b4;
}

hr{
    width:100%;
    height: 5px;
    color: #660099;
    background-color: #6817b4;
    margin-top:0px;
    
}

.Detail{
    background-color: #cacaca; 
    text-align: center;
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    font-family:arial; 
    color:black;
    min-width:500px;
    max-width:1000px;
    
}

.DetailTitle{

    margin:0px auto;
    text-align: center;
    font-size: 50px;
}

.TopLine{
    width:80%;
    height:20%
    position:relative;
    
    display:inline-block;
   
}

.BottomLine{
     width:80%;
    height:20%
    position:relative;
    margin:0px auto;
   
}
.Picture{
    padding:4.5%;
    width : 40%;
    height : 100%;
    display:inline-block;
    position:relative;
    
}

.DetailPicture{
    width : 100%;
    height : 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

}

.Picture img{
    width : 100%;
    height : 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#SignVideo{
    width : 100%;
    height : 100%;
}

.DetailSign{
    padding:4.5%;
    width : 40%;
    height : 100%;
    display:inline-block;
    position:relative;
       
}

#DetVideo{
     width : 100%;
    height : 100%;
}

.DetailVideo{
    
    width : 90%;
    height : 100%;
    position: relative;
    margin:0px auto;
    margin-top:50px;
}

#myVideo{
    width : 200px;
    height : 200px;
}






