body {
    background-color: #cacaca;
}
.HomeBorder{
    width:18%;
    height:100%;
    max-width:180px;
    max-height:50px;
    
}

.HomeWrapper{
    padding-top:10%;
    width:100%;
    height:40%;
    position:relative;bottom:0%;left:0%;
    text-decoration: none;

}

.Home{
    width:100%
    height:100%
    text-align:left;
    padding-left:5%;
    font-family:arial; 
    color:white;
    background-image: url(../img/home.png);
    background-size: 20% 60%;
    background-position:90% 50%;
    background-repeat: no-repeat;
    font-size: 40px;
    background-color:#6817b4;
}
.AdministrationWords{
    width:20%;
    height: 40%;
    max-width:150px;
    min-height:100px;
    max-height:100px;
    font-size: 50px;
    margin:2%;
    background-size: 100% 100%;
    background-position:100% 100%;
    background-repeat: no-repeat;
    display:inline-block;
}

.AdministrationWords img {
        width:100%;
    height: 100%;

}


.AdministrationOptions{
    background-color: #000000 ;
    opacity: 0.5;
    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;


}

.Edit
{
    
    background-color: green;
    float:left;
    position: absolute;
    left: 0;
    top: 25%;
    width: 45%;
    height: 50%;
    z-index: 3;
    cursor: pointer;
}

.Remove{
   
    background-color: orange;
    float:left;
    left:55%;
    position: absolute;
    width: 45%;
    top: 25%;
    height: 50%;
    z-index: 3;
    cursor: pointer;
}

.AddButton{
	
/*background-image: url(../img/addButton.png);*/
background-repeat: no-repeat;
background-position: center;	
cursor: pointer;
}

#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}

div#popup_content {
    margin: 4px 7px;
    /* remove this comment if you want scroll bar
    overflow-y:scroll;
    height:200px
    */
}

.MainSelectionList{
    width:80%;
    margin:0px auto ! important;
    margin-top:100px ! important;
    
   

}                                           

.ui-accordion-header{
    width:15%;
    border:0px ! important;
    background: white ! important;
    border-radius: 0px ! important;
}

.ui-widget-content{
      background: #cacaca ! important;
      border:black 0px solid ! important;
}



