<h2>Registrace nového uživatele</h2>

<?php echo Phalcon\Tag::form('api/user/register') ?>

<table>
    <tr>
        <td> <label for="name">Nick</label></td>
        <td><?php echo Phalcon\Tag::textField(["nick","required" => "required" ]) ?></td>
    </tr>
    <tr>
        <td> <label for="name">Username</label></td>
        <td> <?php echo Phalcon\Tag::textField(["username","required" => "required" ]) ?></td>
    </tr>
    <tr>
        <td> <label for="name">Password</label></td>
        <td> <?php echo Phalcon\Tag::textField(["password","required" => "required" ]) ?></td>
    </tr>
    <tr>
        <td> <label for="name">E-Mail</label></td>
        <td> <?php echo Phalcon\Tag::textField(["email","required" => "required" ]) ?></td>
    </tr>
    <tr>
        <td> <label for="name">Role</label></td>
        <td>  <?php
            echo $this->tag->selectStatic(
                    array(
                        "role",
                        array(
                            "0" => "Admin",
                            "1" => "User",
                        )
                    )
            );
            ?></td>

    </tr>
</table>

<p>
    <?php echo Phalcon\Tag::submitButton("Register") ?>
</p>